.info {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  background: #62D0DF;
  box-sizing: border-box;
  grid-template-areas: "container img";
}

.info__container {
  padding-left: 19.7%;
  padding-right: 19.7%;
  max-width: 914px;
  box-sizing: border-box;
  grid-area: container;
  width: 100%;
}

.info__title {
  font-size: 36px;
  line-height: 27px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  padding-top: 151px;
}

.info__text {
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  padding-top: 75px;
  padding-bottom: 92px;
}

.info__text-accent {
  font-size: 28px;
}

.info__img-hider {
  overflow: hidden;
}

.info__img {
  width: 100%;
  height: 100%;
  max-width: 525px;
  grid-area: img;
  object-fit: cover;
  object-position: left;
  transition: transform ease 1s;
}

.info__img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .info {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "container" "img";
  }

  .info__container {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }

  .info__img {
    max-width: 100%;
  }

  .info__title {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .info__container {
    padding-left: 5%;
    padding-right: 5%;
  }
}
