.training-advice {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  padding-bottom: 120px;
}

.training-advice__card {
  height: 360px;
  width: 100%;
  padding-top: 95px;
  padding-left: 78px;
  padding-right: 78px;
  background-color: #FFE2DE;
  box-sizing: border-box;
  position: relative;
}

.training-advice__card:before {
  content: '';
  position: absolute;
  top: 72px;
  left: 15%;
  width: 70%;
  height: 1px;
  background-color: #FFFFFF;
}

.training-advice__card_theme_second {
  background-color: #C4E769;
}

.training-advice__card_theme_third {
  background-color: #62D0DF;
}

.training-advice__card_theme_four {
  background-color: #0052C1;
}

.training-advice__text {
  padding: 0;
  margin: 0;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  position: relative;
}

.training-advice__text:before {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #E9B730;
  left: -25px;
  top: 10px;
}

.training-advice__row {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .training-advice {
    grid-template-columns: 1fr;
  }

  .training-advice__row {
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .training-advice__card{
    padding-left: 104px;
  }
}
