.footer{
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
  background-color: #62D0DF;
}

.footer__copyright{
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 26px;
  padding-left: 12.4%;
}
